@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300&display=swap");
@import './main/_main.css';
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "cannonade-bold";
  src: url("../fonts/cannonade-bold.eot");
  src: local("☺"), url("../fonts/cannonade-bold.woff") format("woff"), url("../fonts/cannonade-bold.ttf") format("truetype"), url("/../fonts/cannonade-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0px auto;
  box-sizing: content-box;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.block-header {
  height: 80px;
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.block-header > div:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 919px) {
  .block-header > div {
    margin-bottom: 15px;
  }
}
.block-header .logo-header__link {
  display: block;
}
.block-header .description-header {
  max-width: 245px;
}
.block-header .description-header .description-header__text {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #4E4E4E;
}
.block-header .call-header .call-header__link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 25px;
  background-color: #F3F7FA;
  border-radius: 5px;
}
.block-header .call-header .call-header__link .call-header__icon {
  height: 12px;
  width: 12px;
  margin-right: 9px;
}
.block-header .call-header .call-header__link .call-header__icon .call-header__icon-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.block-header .call-header .call-header__link .call-header__text {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #62A1FF;
}
.block-header .email-header .email-header__link-text {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #62A1FF;
  padding: 5px;
}
.block-header .work-time-header .work-time-header__time-text {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.025em;
  color: rgba(255, 255, 255, 0.58);
}
.block-header .work-time-header .work-time-header__phone-text {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
}

.preview {
  margin-bottom: 70px;
}

.title-h2 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 129.5%;
  color: #000000;
}
@media (max-width: 320px) {
  .title-h2 {
    font-size: 40px;
  }
}

.preview-block {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 420px) {
  .preview-block {
    padding-top: 90px;
  }
}

.preview-block__info {
  width: 100%;
  max-width: 615px;
  padding-top: 170px;
  margin-right: auto;
}
.preview-block__info::after {
  content: "";
  position: absolute;
  width: 186px;
  height: 748px;
  left: -26px;
  bottom: -1px;
  background-image: url(../images/image/leftLine.svg);
  background-repeat: no-repeat;
}
.preview-block__info .preview-block__title {
  margin-bottom: 60px;
}
.preview-block__info .preview-block__profit {
  max-width: 615px;
}
.preview-block__info .preview-block__profit .preview-block__profit-list {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 609px) {
  .preview-block__info .preview-block__profit .preview-block__profit-list {
    justify-content: center;
  }
}
.preview-block__info .preview-block__profit .preview-block__profit-list-item {
  width: 290px;
  display: flex;
  margin-bottom: 40px;
}
.preview-block__info .preview-block__profit .preview-block__profit-list-item:nth-last-child(-n+2) {
  margin-bottom: 0;
}
.preview-block__info .preview-block__profit .preview-block__profit-list-item:not(:last-child) {
  margin-right: 10px;
}
@media (max-width: 831px) {
  .preview-block__info .preview-block__profit .preview-block__profit-list-item:nth-last-child(-n+2) {
    margin-bottom: 40px;
  }
}
.preview-block__info .preview-block__profit .preview-block__profit-list-item .preview-block__profit-icon {
  box-sizing: border-box;
  padding-top: 5px;
  width: 24px;
  height: 22px;
  margin-right: 12px;
}
.preview-block__info .preview-block__profit .preview-block__profit-list-item .preview-block__profit-icon .preview-block__profit-icon-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.preview-block__info .preview-block__profit .preview-block__profit-list-item .preview-block__profit-item-text {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  letter-spacing: 0.01em;
}
.preview-block__info .preview-block__profit .preview-block__profit-list-item .preview-block__profit-item-text > span {
  font-weight: 700;
}
@media (max-width: 599px) {
  .preview-block__info .preview-block__profit-btn {
    order: 1;
  }
}
.preview-block__info .preview-block__profit-btn .profit-btn {
  padding: 20px 34px 20px 22px;
  background: linear-gradient(180deg, #62A1FF 0%, #4177C7 100%);
  box-shadow: 0px 26px 25px -15px rgba(68, 104, 175, 0.25);
  border-radius: 5px;
  font-family: "cannonade-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.preview-block__info .preview-block__profit-btn .profit-btn__img {
  margin-right: 16px;
}

.preview-block__play-video {
  padding-top: 170px;
  position: relative;
}
@media (max-width: 831px) {
  .preview-block__play-video {
    padding-top: 0;
  }
}
@media (max-width: 609px) {
  .preview-block__play-video {
    margin: 0 auto;
  }
}
.preview-block__play-video .play-block__text {
  position: relative;
  max-width: 143px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.preview-block__play-video .play-block__text > span {
  font-weight: 700;
}
.preview-block__play-video .play-block__btn {
  width: 73px;
  height: 73px;
  background: linear-gradient(180deg, #62A1FF 0%, #4177C7 100%);
  box-shadow: 0px 26px 25px -15px rgba(68, 104, 175, 0.25);
  border-radius: 50px;
  margin-top: -9px;
  margin-left: 124px;
}
.preview-block__play-video .play-img__cronshtein {
  position: absolute;
  top: 129px;
  right: 50px;
}
.preview-block__play-video .play-img__cronshtein::before {
  content: "";
  position: absolute;
  width: 324px;
  height: 340.5px;
  top: 303px;
  right: 132px;
  background-image: url(../images/image/ugolLine.svg);
  background-repeat: no-repeat;
  z-index: -1;
}
.preview-block__play-video .play-img__cronshtein:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 441.5px;
  top: 202px;
  right: -15px;
  background-image: url(../images/image/verticalLine.svg);
  background-repeat: no-repeat;
  z-index: 100;
}

.preview {
  position: relative;
  box-sizing: content-box;
  padding-bottom: 141px;
}

.preview::before {
  content: "";
  position: absolute;
  width: 40%;
  background-color: #170E2B;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -100;
  border-bottom-left-radius: 100px;
}

.block-form {
  position: absolute;
  width: 100%;
  min-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7137254902);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
.block-form form {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4177C7;
}
.block-form form input {
  display: block;
}

.review {
  min-height: 868px;
  position: relative;
}
.review .review__title {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 129.5%;
  color: #000000;
  margin-bottom: 150px;
}
.review .review__content {
  max-width: 620px;
  margin-left: auto;
}
.review .review__content .review__content-text {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 168.5%;
  letter-spacing: 0.015em;
  color: #000000;
  margin-bottom: 60px;
}
.review .review__btn {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  color: #62A1FF;
  background-color: #F3F7FA;
  border-radius: 5px;
  padding: 9.5px 29px 9.5px 29px;
}
.review .review__btn img {
  vertical-align: middle;
  margin-right: 8px;
}
.review .review__video {
  position: absolute;
  max-width: 575px;
  max-height: 535px;
  top: 250px;
  left: 0;
}
.review .review__video video {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
.review .review__video img {
  position: absolute;
  top: 215px;
  left: 225px;
  cursor: pointer;
}
.review .review__img {
  position: absolute;
  right: 0;
  bottom: -134PX;
}

.block {
  background-color: #8b1616;
  min-height: 500px;
}